@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700");

* {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-repeat: no-repeat;
	background-image: linear-gradient(bottom, rgb(207,207,207) 28%, rgb(194,192,194) 64%);
	background-image: -o-linear-gradient(bottom, rgb(207,207,207) 28%, rgb(194,192,194) 64%);
	background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 28%, rgb(194,192,194) 64%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 28%, rgb(194,192,194) 64%);
	background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 28%, rgb(194,192,194) 64%);
	background-image: -webkit-gradient(linear,left bottom,left top,	color-stop(0.28, rgb(207,207,207)),	color-stop(0.64, rgb(194,192,194)));
}

.app-header {
	border-bottom: 2px solid #999;	
}
.app-header-main {	
	background-color: #000;
	font-size: 160%;	
	line-height: 2.5em;
	padding: 0 1.5em;
	height: 2.5em;
}
.app-header-main h1 {	
	width: 90%;
	float: left;
	color: #E3A30E;
}
.app-header-main a {	
	width: 10%;
	float: right;
	color: #CCC;
}
.app-header h2 {
	background-color: #CCC;
	text-align: center;
	line-height: 2em;
}
.app-body {
	padding: 1em 0.5em;	
}
article header h1 {
	font-size: 120%;	
}
article header h2 {
	font-size: 90%;
	text-align: right;
}
article p {
	margin-bottom: 0.8em;
}
.app-share li {
	width: 32%;
	text-align: center;
	display: inline-block;	
}
.app-share li i, .app-navigation li i {
	font-size: 200%;
}
.app-share li a {		
	color: #133783;
	display: block;
}
.app-share li a span {
	text-transform: uppercase;
	font-size: 70%;
	display: block;
}
.app-navigation {
	background-color: #FFF;
	padding: 0.5em 0;
	margin: 1em 0;
}
.app-navigation li {
	width: 48%;
	text-align: center;
	display: inline-block;	
}
.app-navigation li a {		
	color: #E3A30E;
	display: block;
}

footer small {
	display: block;
	padding: 0em 0.5em;	
	font-size: 70%;
}